In [0]:
# File location and type
file_location = "/FileStore/tables/Salary_dataset_1.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "false"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

_c0,_c1,_c2,_c3,_c4
null,Age,PreviousCTC,YearsExperience,Salary
0,25,20000,1.2,39344
1,23,25000,1.4,46206
2,24,28000,1.6,37732
3,25,35000,2.1,43526
4,24,32000,2.3,39892
5,28,45000,3,56643
6,29,50000,3.1,60151
7,25,50000,3.3,54446
8,24,55000,3.3,64446
9,26,52000,3.8,57190
10,29,55000,4,63219
11,30,45000,4.1,55795
12,29,45000,4.1,56958
13,32,48000,4.2,57082
14,30,55000,4.6,61112
15,32,60000,5,67939
16,28,55000,5.2,66030
17,26,70000,5.4,83089
18,28,70000,6,81364
19,29,80000,6.1,93941
20,34,82000,6.9,91739
21,33,85000,7.2,98274
22,30,90000,8,101303
23,34,95000,8.3,113813
24,29,92000,8.8,109432
25,35,98000,9.1,105583
26,33,85000,9.6,116970
27,32,85000,9.7,112636
28,35,110000,10.4,122392
29,36,115000,10.6,121873

In [0]:
val = df.groupBy('Age')

In [0]:
df.show()

+----+---+-----------+---------------+------+
| _c0|_c1|        _c2|            _c3|   _c4|
+----+---+-----------+---------------+------+
|null|Age|PreviousCTC|YearsExperience|Salary|
|   0| 25|      20000|            1.2| 39344|
|   1| 23|      25000|            1.4| 46206|
|   2| 24|      28000|            1.6| 37732|
|   3| 25|      35000|            2.1| 43526|
|   4| 24|      32000|            2.3| 39892|
|   5| 28|      45000|              3| 56643|
|   6| 29|      50000|            3.1| 60151|
|   7| 25|      50000|            3.3| 54446|
|   8| 24|      55000|            3.3| 64446|
|   9| 26|      52000|            3.8| 57190|
|  10| 29|      55000|              4| 63219|
|  11| 30|      45000|            4.1| 55795|
|  12| 29|      45000|            4.1| 56958|
|  13| 32|      48000|            4.2| 57082|
|  14| 30|      55000|            4.6| 61112|
|  15| 32|      60000|              5| 67939|
|  16| 28|      55000|            5.2| 66030|
|  17| 26|      70000|            5.4| 83089|
|  18| 28|      70000|              6| 81364|
+----+---+-----------+---------------+------+
only showing top 20 rows

In [0]:
#aggregate
val = df.groupBy('_c1')
result = val.count()
result.show()

+---+-----+
|_c1|count|
+---+-----+
| 29|    5|
| 30|    3|
| 34|    2|
| 28|    3|
| 35|    2|
| 26|    2|
|Age|    1|
| 23|    1|
| 25|    3|
| 33|    2|
| 24|    3|
| 32|    3|
| 36|    1|
+---+-----+

In [0]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)