# Python Lists

In [1]:
#Index
names = ['Zahara', 'David', 'Abi']
print(names[0])

Zahara

In [2]:
#list within list
list1 = [2, 9.7, 'word', True]
list2 = ['cat', 'dog', ['fish', 'frog'], 70]
print(list2[2])

['fish', 'frog']

In [3]:
list2 = list1[2]
print(list2[0])

w

In [4]:
#list functions
#sort
prices = [23.5, 4, 2.5, 9.0]
prices.sort()
print(prices)

[2.5, 4, 9.0, 23.5]

In [5]:
#type
list1 = [2, 9.7, 'word', True]
print(type(list1))

<class 'list'>

In [6]:
#type
list1 = [2, 9.7, 'word', True]
print(type(list1[1]))

<class 'float'>

In [7]:
#append
weeks = ['monday', 'tuesday', 'wednesday']
weeks.append('thursday')
print(weeks)

['monday', 'tuesday', 'wednesday', 'thursday']

In [8]:
#extend
weeks = ['monday', 'tuesday', 'wednesday']
weeks.extend(['thursday', 'friday'])
print(weeks)

['monday', 'tuesday', 'wednesday', 'thursday', 'friday']

In [9]:
#index
x = [1, 2, 3, 4, 5]
print(x.index(3))

2

In [10]:
#max
age = [3, 5, 7]
print(max(age))

7

In [11]:
#min
age = [3, 5, 7]
print(min(age))

3

In [12]:
#len
weeks = ['monday', 'tuesday', 'wednesday']
print(len(weeks))

3

# Python Tuple

In [13]:
#create a tuple
t1 = (1, 2, 3, 4)

#create a tuple from a list
t2 = tuple([1, 2, 3, 4, 5])

print(t1)
print(t2)

(1, 2, 3, 4)
(1, 2, 3, 4, 5)

In [14]:
#Indexing and Slicing a tuple
num_tuple = 2, 4, 5, 7, 8, 10
print(num_tuple[:3])
print(num_tuple[4:])
print(num_tuple[-3:])
print(num_tuple[2:5])

(2, 4, 5)
(8, 10)
(7, 8, 10)
(5, 7, 8)

# Python Sets

In [15]:
#create set
colors = {'red', 'black', 'white', 'green'}
print(colors)

{'red', 'black', 'green', 'white'}

In [16]:
colors = set(['red', 'black', 'white', 'green'])
print(colors)

{'red', 'black', 'green', 'white'}

In [17]:
#add
colors = set(['red', 'black', 'white', 'green'])
colors.add('blue')
print(colors)

{'blue', 'white', 'green', 'red', 'black'}

In [18]:
#remove
colors = set(['red', 'black', 'white', 'green'])
colors.remove('red')
print(colors)

{'black', 'green', 'white'}

In [19]:
#set union
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A|B)

{'blue', 'yellow', 'green', 'red', 'orange'}

In [20]:
#set intersection
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A & B)

{'red'}

In [21]:
#set difference
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A - B)

{'blue', 'green'}

# Python Dictionaries

In [22]:
#create dictionary
d1 = {'John': {'Age':27, 'Hometown':'Boston'}, 'Rebecca': {'Age':31, 'Hometown':'Chicago'}}
print(d1)
print(d1['John'])

{'John': {'Age': 27, 'Hometown': 'Boston'}, 'Rebecca': {'Age': 31, 'Hometown': 'Chicago'}}
{'Age': 27, 'Hometown': 'Boston'}

In [23]:
#create dictionary
d2 = dict([['one',1], ['two',2]])
print(d2)

{'one': 1, 'two': 2}

# RegEx

In [24]:
#Search the string to see if it starts with 'The' and ends with 'Spain'
import re
txt = 'The rain in Spain'
x = re.search("^The.*Spain$", txt) #'^'Asserts the start of a string and '$' end of a string. The '.' means any character, and '*' means zero or more occurrences.

if x:
    print('YES! We have a match!')
else:
    print('No match')

YES! We have a match!

In [25]:
#findall
#Print a list of all matches
import re
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [26]:
#search
#Search for the first white-space character in the string:
import re
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [27]:
#Split at each white-space character:
import re
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [28]:
#Replace every white-space character with the number 9:
import re
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

# While Loop

In [29]:
# Take user input
number = 2  

# Condition of the while loop
while number < 5 :  
    print("Thank you")
    # Increment the value of the variable "number by 1"
    number = number+1

Thank you
Thank you
Thank you

In [30]:
# Take user input
number = 2 

# Condition of the while loop
while number < 5 :  
    # Find the mod of 2
    if number%2 == 0:  
        print("The number "+str(number)+" is even")
    else:
        print("The number "+str(number)+" is odd")

    # Increment `number` by 1
    number = number+1

The number 2 is even
The number 3 is odd
The number 4 is even

In [31]:
def collatz(number):
    # Is the mod of 2 equal to 0?
    if number % 2 == 0:
        print(number // 2)
        return number // 2

    # If the mod of 2 isn't equal to 0, print `3 * number + 1`
    elif number % 2 == 1:
        result = 3 * number + 1
        print(result)
        return result

# Ask input from the user    
n = input("Give me a number: ")

# As long as `n` is not equal to `1`, run `collatz()`
while n != 1:
    n = collatz(int(n))

Give me a number: 5
16
8
4
2
1

# For Loop

In [32]:
languages = ['Swift', 'Python', 'Go', 'JavaScript']

# run a loop for each item of the list
for language in languages:
    print(language)

Swift
Python
Go
JavaScript

In [33]:
numbers = [1, 2, 3, 5, 9, 6, 101, 88, 66, 6, 101, 55, -1001]
maxi = numbers[0]

for i in numbers:
    if i > maxi:
        maxi = i
        
print("Greatest number: ", maxi)

Greatest number:  101