In [5]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Create Dataframe
data = {'Fruits': ['Apple', 'Orange', 'Apple', 'Grapes', 'Mango', 'Orange', 'Kiwi']}
df = pd.DataFrame(data)

# OneHotEncoding
encoder = OneHotEncoder(sparse=False)
encoded_data = encoder.fit_transform(df[['Fruits']])

# Create a dataframe for the encoded data
df_encoded = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Fruits']))
df = pd.concat([df, df_encoded], axis = 1)
df

C:\Users\SONY\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Fruits,Fruits_Apple,Fruits_Grapes,Fruits_Kiwi,Fruits_Mango,Fruits_Orange
0,Apple,1.0,0.0,0.0,0.0,0.0
1,Orange,0.0,0.0,0.0,0.0,1.0
2,Apple,1.0,0.0,0.0,0.0,0.0
3,Grapes,0.0,1.0,0.0,0.0,0.0
4,Mango,0.0,0.0,0.0,1.0,0.0
5,Orange,0.0,0.0,0.0,0.0,1.0
6,Kiwi,0.0,0.0,1.0,0.0,0.0